body{
	margin: 0;
}
header{
	display: flex;
	height: 100px;
	background-color: darkgrey;
	justify-content: space-around;
	align-items: center;
}


/*-----------------------PAGE ACCUEIL------------------------*/

.creer{
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 150px;
	border: 1px solid red;
	border-radius: 20px;
}

.creer:hover{
	text-decoration: none;
	color: black;
}
.logo{
	text-decoration: none;
	color: black;
}
.memepresentation{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 76%;
	margin-left: 12%;
}
.memedefaut{
	width: 225px;
	height: 225px;
	border-bottom: 1px solid darkgrey;
}
.meme{
	margin-bottom: 15px;
	text-align: center;
	border: 1px solid darkgrey;
	background-color: beige;
}
.twitter{
	text-decoration: none;
	color: black;
}
.twitter:hover{
	color: red;
	text-decoration: none;
}

/*---------------------------PAGE DETAILS--------------------*/

.presentation{
	display: flex;
	width: 40%;
	margin-left: 30%;
	border: 1px solid darkgrey;
	background-color: beige;
}
.imagedetail{
	width:50%;
	height: 50%;
}
.rien{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50%;
	width: 100%;
}