body{
	margin: 0;
}
header{
	display: flex;
	height: 100px;
	background-color: darkgrey;
	justify-content: space-around;
	align-items: center;
}

/*-----------------------PAGE ACCUEIL------------------------*/
.créer{
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 150px;
	border: 1px solid red;
	color: black;
	border-radius: 20px;
}
.créer:hover{
	text-decoration: none;
	color: black;
}
.memepresentation{
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin-left: 25%;
}
.memedefaut{
	width: 225px;
	height: 225px;
}
img{
	border-bottom: 1px solid darkgrey;
}
.meme{
	text-align: center;
	border: 1px solid darkgrey;
	background-color: beige;
}
.twitter{
	text-decoration: none;
	color: black;
}
.twitter:hover{
	color: red;
	text-decoration: none;
}